<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="{{ site.encoding }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="{{ site.description }}" />
		<link rel="stylesheet" href="{{ "assets/css/spectre.min.css" }}">
		<style type="text/css">
			header, footer { margin: 1rem 0; }
			header h1 { font-size: 3rem; font-weight: 500; }
			header h1 span { font-weight: 100; }
		</style>
		<title>{{ site.title }}</title>
	</head>
	<body>
		<header>
			<div class="container">
				<h1>{{ site.title }} <span>{{ site.description }}</span></h1>
			</div>
		</header>
		<main>
			<div class="container">
				{{ content }}
			</div>
		</main>
		<footer>
			<div class="container">
				<p>{{ site.title }} - {{ site.description }}</p>
				<a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
				<a href="https://github.com/{{ site.github_username }}">GitHub</a>
			</div>
		</footer>
	</body>
</html>